@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --clr-hope-a0: oklch(36.2% 0.077 164);
  --clr-hope-a10: oklch(45.8% 0.099 163);
  --clr-hope-a20: oklch(56% 0.123 162);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ajmal {
  background: var(--clr-hope-a0);
}
