@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #ffffff;
  --color-granny-smith-apple-50: #b1ffb8;
  --color-granny-smith-apple-100: #7df88b;
  --color-granny-smith-apple-200: #7deb88;
  --color-granny-smith-apple-300: #64b66c;
  --color-granny-smith-apple-400: #417545;
  --color-granny-smith-apple-500: #264d2a;
  --color-granny-smith-apple-600: #0a1b0c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ajmal {
  background: var(--clr-hope-a0);
}
